/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.game-grid {
    -fx-background-color: white ;
    -fx-padding: 10 ;
}
.game-grid-cell {
   
    -fx-background-insets: 	1, 0 1 1 0 ;
    -fx-border-color: black;
}
.game-grid-cell.first-row {
    -fx-background-insets: 0, 1 1 1 0 ;
}


.game-border-color {
    -fx-background-color: NAVY;
}

